<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Save</title>
 <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>

<div class="container">

<h2>  &nbsp; Save or Update </h2>
<hr>


			<form action="#" th:action="@{/student/save}" th:object="${student}" method="post">
			    <input type="hidden" th:field="*{id}"  />
				<br><br>
				<input type="text" th:field="*{firstName}"   placeholder="First name " />
				<br><br>
				<input type="text" th:field="*{lastName}"   placeholder="last name " />
				<br><br>
				<input type="text" th:field="*{email}"   placeholder="email " />
				<br><br>
				<input type="submit"  value ="Save" class="btn btn-primary"/>
			
			</form>
			
	<br><br>
	<a th:href="@{/student/list}" class="btn btn-primary">	Go back main Page</a>	
</div>



</body>
</html>